.Rproj.user
.RData
.aspell/defaults.R
.Rbuildignore
.Rbuildignore
_pkgdown.yml
Athlytics.Rcheck/00check.log
cran-comments.md
CRAN-SUBMISSION
tests/manual_test_script.R
/Athlytics.Rcheck/00_pkg_src/Athlytics/.aspell
/Athlytics.Rcheck/00_pkg_src/Athlytics
/Athlytics.Rcheck
*.gz
/tests/run_all_tests.R
.httr-oauth
tests/test_direct_api_streams.R
.Rbuildignore
.Rhistory
/Meta/
/paper
/tests/manual_tests
/doc
